// === обнуление и общие настройки ===
*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $accent-text;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  
}

// === / обнуление и общие настройки ===

// === header ===
.header {
  &__bg {
    min-height: 31px;
    width: 100%;
    background: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  &__icon {
    height: 21px;
    width: 15px;
    margin-right: 10px;
    fill: #fff;
    position: relative;
    top: 5px;
    
  } 
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
  font-size: 12px;
  &__item {
    width: 33.33333%;
    min-height: 31px;
    line-height: 31px;
    letter-spacing: 0.055em;
    
  }
  &-adress {
    text-align: left;  
  }
  &-time {
    text-align: center;
  }
  &-phone {
    text-align: right;
  }
  &-title{
    color: $accent-text;
    text-transform: uppercase;
    margin-top: 36px;
  }
}
.button{
  border-radius: 50px;
  text-transform: uppercase;
  line-height: 31px;
  padding: 0 38px;
  transition: all .2s ease-in-out;
  color: $accent-text;
  &-simple{
    background: transparent;
    border: 1px solid $accent-text;
    &:hover {
      background: $second;
      cursor: pointer;
      color: #fff;
      border: 1px solid $second;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
  &-header{
    margin-top: 36px;
    margin-left: auto;
    // position: absolute;
    // top: 58px;
    // right: 0;
  }
}
// === / header ===
