// === 720 px ===
@media (max-width: 720px) {
  .container {
    padding: 0 20px;
  }
  .header{
    &__bg{
      min-height: 60px;
    }
  }
  .contacts {
    flex-direction: row-reverse;
    font-size: 16px;
    text-transform: uppercase;
    min-height: 60px;
    &__item {
      width: 50%;
      letter-spacing: 0;
    }
    &-time,
    &-phone{
      display: none;
    }
    &-title{
      margin-top: 0;
      color: #fff;
    }
  }
  .button{
    display: none;
  }

}
// === / 720 px ===
